* img {
  outline-style: auto;
  outline-color: black;
}

body {
  background-color: green;
  width: 480px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: red;
  }
}